.search{
    background-color: #ffcfe8c3;
    padding: 0.7rem 0.4rem;
    position: relative;
    text-align: center;
    border-bottom: 2px solid white;
}

.input{
    width: 85%;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 15px;
    outline: none;
}

.icon{
    position: absolute;
    top: 1.4rem;
    left: 1.8rem;
}

.chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.3rem;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    border-bottom: 2px solid #ecbcdf;
}

.chat:last-child{
    border-bottom: none;
}

.img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.userInfo{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.name{
    color: #3162f2;
    font-weight: 600;
}